extends ../_layout.pug
block variables
  - _sessions = data['sessions'];
  - title = "議程 Agenda"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3(data-i18n="agenda.title") 議程
  .container.my-20
    h3.mb-4(data-i18n="agenda.keynote") 基調演講
    .mb-12
      h5 「沒有人」在「前線」 – 劉致昕
      p 從上次的g0v Summit (2020) 至今，世界巨變。此主題演講將以講者親身採訪，來自法國、烏克蘭、德國、台灣的公民科技計畫與坑主的故事，具體描繪公民科技（計畫與社群）如何在時代浪潮之中，被推上各種「前線」。在前線上的「沒有人」，找到什麼可能、付出什麼代價？而當前線上（真的）沒有人，實踐民主價值的群體、公民，會有什麼樣的未來？
    .mb-12
      h5 Nerd politics and the global culture wars – John Postill
      p In this talk, I build on my previous anthropological work on techno-political activism aka ‘nerd politics’ (Postill 2018) and on more recent research into the anti-woke movement (Postill 2024) to explore some of the links between nerd politics and the global culture wars. I am primarily interested in those leading individuals and groups working at the intersection of nerd politics and the global culture wars who are battling over issues of race, gender, public health, and/or climate change – for example, the tech billionaire Elon Musk, the investigative journalist Glenn Greenwald, the QAnon conspiracy/movement (Coleman 2023), K-pop fans supportive of Black Lives Matter (Cho 2022), or the Latin American hacktivist group Guacamaya (Levet 2023). I argue that some techno-political nerds are at the forefront of the conflicts that are polarising our contemporary world, while others are engaged in early efforts towards depolarisation.
  .container.my-20
    h3.mb-4(data-i18n="agenda.sessions") 錄取議程
    p(data-i18n="agenda.intro") 第一波錄取議程如下（議程仍會更動）：
    ul
      each session in _sessions
        li #{session.title} – <strong>#{session.speaker}</strong>
