extends ../_layout.pug
block variables
  - _sessions = data['sessions'];
  - title = "議程 Agenda"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3(data-i18n="agenda.title") 議程
  .container.my-20
    h3.mb-4(data-i18n="agenda.keynote") 基調演講
    .mb-12
      h5 「沒有人」在「前線」 – 劉致昕
      p 從上次的 g0v Summit (2020)  至今，世界巨變。此主題演講將以講者親身採訪，來自法國、烏克蘭、德國、台灣的公民科技計畫與坑主的故事，具體描繪公民科技（計畫與社群）如何在時代浪潮之中，被推上各種「前線」。在前線上的「沒有人」，找到什麼可能、付出什麼代價？而當前線上（真的）沒有人，實踐民主價值的群體、公民，會有什麼樣的未來？
    .mb-12
      h5 Nerd politics and the global culture wars – John Postill
      p In this talk, I build on my previous anthropological work on techno-political activism aka ‘nerd politics’ (Postill 2018) and on more recent research into the anti-woke movement (Postill 2024) to explore some of the links between nerd politics and the global culture wars. I am primarily interested in those leading individuals and groups working at the intersection of nerd politics and the global culture wars who are battling over issues of race, gender, public health, and/or climate change – for example, the tech billionaire Elon Musk, the investigative journalist Glenn Greenwald, the QAnon conspiracy/movement (Coleman 2023), K-pop fans supportive of Black Lives Matter (Cho 2022), or the Latin American hacktivist group Guacamaya (Levet 2023). I argue that some techno-political nerds are at the forefront of the conflicts that are polarising our contemporary world, while others are engaged in early efforts towards depolarisation.
  .container.my-20
    h3.mb-4(data-i18n="agenda.sessions") 錄取議程
    p(data-i18n="agenda.intro") 第一波錄取議程如下（議程仍會更動）：
    ul
      each session in _sessions
        li #{session.title} – <strong>#{session.speaker}</strong>
  .container.my-20
    h3.mb-4(data-i18n="agenda.timetable") 議程表
    .mb-12
      h5.mb-4 5/4 (Day 1)
      table.w-full.rounded-lg.border.border-neutral-300.rounded-lg.center-justify(cellspacing="0", cellpadding="0")
        thead
          tr.bg-neutral-100.font-medium.center-justify
            th.px-4.py-2(scope="col", data-i18n="agenda.time") 時間
            th.px-4.py-2(scope="col") R0
            th.px-4.py-2(scope="col") R1
            th.px-4.py-2(scope="col") R2
            th.px-4.py-2(scope="col", data-i18n="agenda.r4") 交誼廳
        tbody
          tr.border-y.border-neutral-300
            td.px-4.py-2 9:00 - 9:20
            td.px-4.py-2(colspan="4", data-i18n="agenda.registration") 報到
          tr.border-y.border-neutral-300
            td.px-4.py-2 9:20 - 9:30
            td.px-4.py-2(colspan="3", data-i18n="agenda.opening") 開場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 9:30 - 10:00
            td.px-4.py-2.font-medium(colspan="3", data-i18n="agenda.keynote") 基調演講
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:00 - 10:10
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:10 - 10:40
            td.px-4.py-2.font-medium(rowspan="3")
              p Keynote Panel
              p
                span(data-i18n="[html]agenda.ctrack") 社群議程軌：
                span Cofacts
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:40 - 11:10
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 11:10 - 11:40
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 11:40 - 12:30
            td.px-4.py-2(colspan="4", data-i18n="agenda.lunch") 午休
          tr.border-y.border-neutral-300
            td.px-4.py-2 12:30 - 13:00
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span 在數位威權時代保護數位人權
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 13:00 - 13:30
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2.font-medium(rowspan="2") Jothon
          tr.border-y.border-neutral-300
            td.px-4.py-2 13:30 - 14:00
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:00 - 14:10
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:10 - 14:40
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span 數位韌性：斷網怎麼辦？
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2.font-medium(rowspan="6") Jothon
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:40 - 15:10
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:10 - 15:40
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:40 - 15:50
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:50 - 16:20
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span 公民科技與居住正義
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 16:20 - 16:50
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 16:50 - 17:20
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 17:20 - 17:30
            td.px-4.py-2(colspan="3", data-i18n="agenda.summary") 小結
            td.px-4.py-2
    .mb-12
      h5.mb-4 5/5 (Day 2)
      table.w-full.rounded-lg.border.border-neutral-300.rounded-lg.center-justify(cellspacing="0", cellpadding="0")
        thead
          tr.bg-neutral-100.font-medium.center-justify
            th.px-4.py-2(scope="col", data-i18n="agenda.time") 時間
            th.px-4.py-2(scope="col") R0
            th.px-4.py-2(scope="col") R1
            th.px-4.py-2(scope="col") R2
            th.px-4.py-2(scope="col", data-i18n="agenda.r4") 交誼廳
        tbody
          tr.border-y.border-neutral-300
            td.px-4.py-2 9:20 - 9:30
            td.px-4.py-2(colspan="3", data-i18n="agenda.opening") 開場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 9:30 - 10:00
            td.px-4.py-2.font-medium(colspan="3", data-i18n="agenda.keynote") 基調演講
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:00 - 10:10
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
            td.px-4.py-2.font-medium(rowspan="4") NDI
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:10 - 10:40
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span Disfactory
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 10:40 - 11:10
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 11:10 - 11:40
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 11:40 - 12:30
            td.px-4.py-2(colspan="4", data-i18n="agenda.lunch") 午休
          tr.border-y.border-neutral-300
            td.px-4.py-2 12:30 - 13:00
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span Web3
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 13:00 - 13:30
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 13:30 - 14:00
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:00 - 14:10
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:10 - 14:40
            td.px-4.py-2.font-medium(rowspan="3")
              span(data-i18n="[html]agenda.ctrack") 社群議程軌：
              span 學生的社群參與者
            td.px-4.py-2 Session
            td.px-4.py-2 Session
            td.px-4.py-2.font-medium(rowspan="3") Unconference
          tr.border-y.border-neutral-300
            td.px-4.py-2 14:40 - 15:10
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:10 - 15:40
            td.px-4.py-2 Session
            td.px-4.py-2 Session
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:40 - 15:50
            td.px-4.py-2(colspan="3", data-i18n="agenda.break") 換場
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 15:50 - 16:50
            td.px-4.py-2.font-medium(colspan="3", data-i18n="agenda.lt") 閃電講
            td.px-4.py-2
          tr.border-y.border-neutral-300
            td.px-4.py-2 16:50 - 17:00
            td.px-4.py-2(colspan="3", data-i18n="agenda.closing") 閉幕
            td.px-4.py-2
