extends ../_layout.pug
block variables
  - title = "工作團隊 Staff"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  main.container
    .my-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="staff.title") 工作人員
      .text-sm.my-4(data-i18n="staff.subtitle") g0v Summit 2024 籌備團隊
    .my-20
      - let volunteers = {}
      - for (let volunteer of staff.members) volunteers[volunteer.id] = volunteer
      .grid.mb-12(class="grid-cols-3 md:grid-cols-6 gap-4")
        mixin staff-avatar(person)
          if person != null
            .mb-4.aspect-square.bg-slate-100.rounded-full.flex.items-center.justify-center.cursor-pointer(data-id=person.id)
              - let person_name = (person.name.zh || '') + (person.name.zh === person.name.en ? '' : ' ' + person.name.en)
              if person.avatar
                img.rounded-full(src=person.avatar, alt=person_name)
              else
                span.text-center(data-i18n=`staff.${person.id}.name`)= person_name
        each team in staff.teams
          each volunteer_id in team.members
            +staff-avatar(volunteers[volunteer_id])
          if team.sections
            each section in team.sections
              each volunteer_id in section.members
                +staff-avatar(volunteers[volunteer_id])
