block variables
doctype
html(lang="zh-Hant-TW")
  head
    title #{title} | g0v Summit 2024
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property='og:description', content='g0v Summit 2024 是 g0v 台灣零時政府社群兩年一次的大聚會，也是全球公民黑客、公民科技的盛會。民主不只投票凍蒜，Summit 2024 邀你一起持續貢獻、全球連結，公民不打烊。')
    meta(property='og:image', content="assets/img/og.jpg")

    script(async src='//www.googletagmanager.com/gtag/js?id=G-3V52RYWJVJ')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-3V52RYWJVJ');

    base(href=base)
    link(rel='icon', type='image/png', href='assets/img/icon.png')
    link(rel='preconnect', href='//fonts.googleapis.com')
    link(rel='preconnect', href='//fonts.gstatic.com', crossorigin)
    link(href='//fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Onest:wght@100..900&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='assets/css/base.css?version='+timestamp)
    script(src='https://kit.fontawesome.com/dcdfd8e3ee.js', crossorigin='anonymous')
    block head
  body
    #loading.fixed.top-0.left-0.w-screen.h-screen.hidden
      img(src="assets/img/loading 畫面.svg", alt="")
    header.container.flex.flex-wrap.items-center.justify-between.py-4
      a.me-2(href=base)
        img.w-auto.h-12(src="assets/img/pgln_g0v_summit.png", alt="g0v Summit 2024")
      button.offcanvas-toggler.text-2xl.text-primary(class="sm:hidden")
        i.fa-solid.fa-bars
      .flex.offcanvas-box(class="sm:-mx-2 sm:mt-1 sm:max-md:grow sm:max-md:justify-between")
        .py-4.text-right.px-6(class="sm:hidden")
          button.offcanvas-toggler.text-2xl.text-primary
            i.fa-solid.fa-xmark
        a.mx-2(href="speakers", data-i18n="nav.speakers") 講者
        a.mx-2(href="agenda", data-i18n="nav.agenda") 議程
        a.mx-2(href="visit", data-i18n="nav.visit") 交通
        a.mx-2(href="//g0v.hackmd.io/@summit2024/notes", target="_blank", data-i18n="nav.hackmd") 共筆
        a.mx-2(href="//www.youtube.com/@g0vTW", target="_blank", data-i18n="nav.live") 直播
        .mx-2.shrink-0
          i.fa-solid.fa-language
          select#lang-select.ms-2.-my-px.border-none.shadow-none.px-2.rounded(aria-label="Language")
            option(value="zh") 華語
            option(value="en") English
    block main
    footer.bg-slate-200: .container.py-20
      .grid.gap-8(class="grid-cols-2 md:grid-cols-4")
        div
          .mb-4.font-bold Summit 2024
          a.block(href="speakers", data-i18n="nav.speakers") 講者
          a.block(href="agenda", data-i18n="nav.agenda") 議程
          a.block(href="visit", data-i18n="nav.visit") 交通
          a.block(href="//g0v.hackmd.io/@summit2024/notes", target="_blank", data-i18n="nav.hackmd") 共筆
          a.block(href="//www.youtube.com/@g0vTW", target="_blank", data-i18n="nav.live") 直播
        div
          .mb-4.font-bold(data-i18n="nav.media") 媒體資源
          a.block(href="//g0v.hackmd.io/@SQLfOC1bRwKstcPS84Gu_w/H1aRf_W8a", target="_blank", data-i18n="nav.presskit") 新聞素材
          a.block(href="//us21.campaign-archive.com/home/?u=5f2da7dc5b32fcf00c4e26170&id=cf109d5e52", target="_blank", data-i18n="nav.newsletter") 電子報
        div
          .mb-4.font-bold(data-i18n="nav.about") 關於 Summit
          a.block(href="staff", data-i18n="nav.staff") 工作團隊
          a.block(href="partners", data-i18n="nav.partners") 合作夥伴
          a.block(href="//g0v.hackmd.io/@summit2024/book/", target="_blank", data-i18n="nav.docs") 籌備紀錄
          a.block(href="coc", data-i18n="nav.coc") 社群守則
        div
          .mb-4.font-bold(data-i18n="nav.past") 歷年網站
          a.block(href="//summit.g0v.tw/2020", target="_blank") 2020
          a.block(href="//summit.g0v.tw/2018", target="_blank") 2018
          a.block(href="//summit.g0v.tw/2016", target="_blank") 2016
          a.block(href="//summit.g0v.tw/2014", target="_blank") 2014
      .grid.my-16(class="grid-cols-1 md:grid-cols-3")
        .my-2.flex.flex-wrap(class="md:col-span-2 max-md:justify-center")
          span CC BY 4.0 @ g0v Summit 2024
          a.mx-6(href="//github.com/g0v/summit2024/issues", target="_blank", data-i18n="nav.bugreport") 網站問題回饋
        .ms-auto.my-2.flex.text-xl(class="max-md:w-full max-md:justify-center")
          a(href="//www.facebook.com/g0v.tw/", target="_blank")
            i.fa-brands.fa-facebook.me-3(title="Facebook")
          a(href="//www.instagram.com/g0v.tw/", target="_blank")
            i.fa-brands.fa-instagram.me-3(title="Instagram")
          a(href="//twitter.com/g0vtw/", target="_blank")
            i.fa-brands.fa-twitter.me-3(title="Twitter")
          a(href="//g0v.social/@summit", target="_blank")
            i.fa-brands.fa-mastodon.me-3(title="Mastodon (g0v.social)")
          a(href="//g0v.hackmd.io/@jothon/g0v-cowork-guideline/%2FPwJcrD23SBag6sg15epZMA", target="_blank")
            i.fa-brands.fa-slack.me-3(title="Slack")
          a(href="//github.com/g0v/", target="_blank")
            i.fa-brands.fa-github-alt.me-3(title="GitHub")

    #cookie-agree.fixed.bottom-0.w-full.bg-slate-100.flex.p-4.items-center.justify-center.hidden
      div(data-i18n="cookie")
        | 本網站使用 cookies 於廣告、社群與分析等用途，藉以增進您的使用體驗，繼續使用本網站即代表您同意使用 cookies。
      a.btn.btn-primary.shrink-0.my-auto.ms-3(href="#", data-i18n="agree") 同意
    script(src='//code.jquery.com/jquery-3.7.0.min.js', integrity='sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.min.js', integrity='sha512-EkS8Kq86l7dHt/dOBniHgtYvAScDqFw/lIPX5VCwaVKsufs0pY44I2cguqZ45QaFOGGwVd3T1nXvVJYIEjRsjA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.emitter.bidi.min.js', integrity='sha512-EP79zV22G1pPO28sRgwfVyEPEhu1RXA2ovHJNqlev1pIGEAs0CBzi6F6UMkPBaPS78O3KeEVqpicEYah+zbXhg==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.emitter.min.js', integrity='sha512-FXATL79ewicv4U54AgQVVHBBsinKwHuIZJZFUIJqhqpA6UV0XuAFAhTjGuA9JX0HmzwKW+frVH2MuHCzpDgSMQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.fallbacks.min.js', integrity='sha512-FvKl0c+LXuYS0OlbGXHLIt/VUxLHgVG2wMHB8BwMDzEwwNACtxhutxl4jxlnuNfEuzKPLarLsf17UP7UgPMs6w==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.language.min.js', integrity='sha512-XaRK7YZ6nqPsjMAMUysMC0J7zqEOp3K74pUzIADUd3Ql8qpFpuwpR5jm+TVyzJc8C5fvVkjC3yOjF0gWmmCtDA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.messagestore.min.js', integrity='sha512-Ejnbo8F6SIU18Tj9hZyJzVbhWtbC40Fyvuyfs6InZloy043xEvICul37BxuUGZG1ia8RQky7uBOwBdLsGKDu1w==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.9/jquery.i18n.parser.min.js', integrity='sha512-v3mCT0T3rETWJU4RZKWHobzvOdJUcaojtxFBYVY371L/3aaWj9Dg2MNl6Q46wr19u4YHHnyzAR99wWAr9mB3ZA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='assets/js/base.js?version='+timestamp)
    block script
