extends _layout.pug
block variables
  - title = "首頁"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
  link(rel="stylesheet", href="assets/css/index.css?version="+timestamp)
block main
  #banner.relative.w-full(class="h-[90vh] max-md:h-[40vh]")
    .top-box-inner.absolute(class="bottom-[15%] left-[5%]")
      .text-4xl.font-bold(class="max-md:text-3xl") g0v Summit 2024
      .text-3xl.font-bold(class="max-md:text-2xl") 2024/5/4-5/5
      .text-2xl.font-bold(class="max-md:text-xl", data-i18n="location") 中央研究院 人文社會科學館
      .flex.gap-2.mt-3
        a.btn.btn-primary(href="https://g0v-summit-2024.kktix.cc/", target="_blank", data-i18n="register") 立刻報名
        a.btn.btn-primary(href="https://g0v.hackmd.io/XcKJh6CsSoO8lYqroC6b1g", target="_blank", data-i18n="contact") 贊助與媒體聯絡
  #milestone
  .container#about
    .my-20
      h3.mb-8(data-i18n="index.t1") 「公民不打烊」
      p(data-i18n="[html]index.p1") <a href="//g0v.tw" target="_blank">g0v.tw 台灣零時政府</a>社群從 2012 年開始，在「寫程式改造社會」的號召下，形成了東亞最具規模的公民黑客社群，以資訊透明、開放成果、開放協作為核心，透過群眾草根的力量來關心公共事務。在 318 運動過後，更首度於 2014 年舉辦 <a href="//summit.g0v.tw/2014/" target="_blank">g0v Summit 零時政府雙年會</a>（「啥米」），促成開放社群、政府、NGO、學術圈、以及網路鄉民跨界交流。
      p(data-i18n="[html]index.p2") 凝聚起來的這股力量，在 2016 年政黨輪替後，以不同的形式深入各界發揮作用：公私協力、議題倡議、跨界串連，公民們的腳步沒有停下。g0v Summit 也維持每兩年舉辦一次的步調，逐步擴展規模，透過開放徵稿與邀集討論的議題也愈加深刻。到 2020 年，更連結了台南在地長期經營的 NGO，資訊技術與創客社群，進行了連續 4 天的議程。
      p(data-i18n="[html]index.p3") 2024 對 g0v Summit 而言是個新局面。一方面，疫情後的社群需要重新建立連結，找回各自努力與一同前進的動能；另一方面，全球情勢距離第一次 g0v Summit 已改變許多：社會極化、極權擴張、以及民主倒退的傾向在短期內或許不會有大幅改善，但我們也看到學生社群的活躍、鄰近國家公民黑客社群之間強韌的連結，以及公民團體們也更加積極地發聲與串連。
      p(data-i18n="[html]index.p4") g0v Summit 2024 選擇在 2024 年 5 月台灣總統就職典禮的兩個禮拜前舉辦。在許多民主國家舉行選舉的這年，我們希望 g0v Summit 能夠繼續維持一個聚集、傾聽、尋找共同點並建立合作的場所。<b>改變不是請客吃飯、民主不只投票凍蒜，期許我們於選後仍不放慢參與的步伐，公民不打烊</b>。
    .my-20
      h3.mb-8(data-i18n="index.t2") 關於 g0v
      p(data-i18n="[html]index.p5") g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑
      p(data-i18n="[html]index.p6") 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。
    .my-20
      h3.mb-8(data-i18n="index.t3") 重要時程
      ul
        li(data-i18n="index.dates.1") 2024/3/10：投稿截止
        li(data-i18n="index.dates.2") 2024/3/31：網站上線
        li(data-i18n="index.dates.3") 2024/4/1：開放索票
        li(data-i18n="index.dates.4") 2024/5/4、5/5：g0v Summit 2024
    .my-20
      h3.mb-8(data-i18n="index.t4") 雙年會議程
      p(data-i18n="index.p7") 本次年會我們規劃了五大主軸、27 個關鍵字，分別是：
      ol.mb-8
        li 
          b(data-i18n="index.topics.1") Nerd Politics vs. 數位治理
          .text-sm.text-neutral-500.mt-1(data-i18n="index.topics.1.tags") #eID #個人資料保護 #AI科技規範 #數位平台規管 #數位性暴力 #數位主權
        li 
          b(data-i18n="index.topics.2") 資料、人工智慧與社群協作
          .text-sm.text-neutral-500.mt-1(data-i18n="index.topics.2.tags") #開放政府 #大數據（資料治理） #群眾外包 #地圖資料 #開放課程
        li 
          b(data-i18n="index.topics.3") 草根、開放、多中心的公民社群如何回應政治與科技的極權
          .text-sm.text-neutral-500.mt-1(data-i18n="index.topics.3.tags") #社群治理 #數位韌性 #公民倡議 #數位民防 #開源精神
        li 
          b(data-i18n="index.topics.4") 基於同理心、涵容、多元性的數位基礎建設
          .text-sm.text-neutral-500.mt-1(data-i18n="index.topics.4.tags") #網路禮儀Netiquette #CoC #數位兩極化 #數位DEI（多元共融） #數位素養
        li 
          b(data-i18n="index.topics.5") 技術與議題的交鋒
          .text-sm.text-neutral-500.mt-1(data-i18n="index.topics.5.tags") #SDG #社會企業 #數位轉型 #創新創業 #教育 #非營利組織
      p(data-i18n="index.p8") 除了大會籌辦的議程外，g0v Summit 也開放完整時段的 Unconference，由參與者提案決定主題，以演講、討論、工作坊等形式創造新的協作空間。自由報名的全場「閃電講」更是開源社群傳統，開放、分享的精神貫串大會。
