extends ../_layout.pug
block variables
  - title = "合作夥伴 Partners"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  .container.my-20
    h1.border-b.border-neutral-500.pb-3(data-i18n="partners.title") 合作夥伴
  .container.my-20
    h3 主辦單位
    .grid.mb-12(class="grid-cols-2")
        .mb-4 g0v Summit 2024 籌備團隊
    h3 協辦單位
    .grid.mb-12(class="grid-cols-2")
        .mb-4 財團法人開放文化基金會
        .mb-4 中央研究院法律學研究所資訊法中心
