extends ../_layout.pug
block variables
  - title = "交通資訊 Transportation"
block head
  link(rel="stylesheet", href="assets/css/base.css?version="+timestamp)
block main
  main
    .container.mt-20
      h1.border-b.border-neutral-500.pb-3(data-i18n="visit.title") 交通資訊
      .my-4
        h5(data-i18n="visit.venue") 中央研究院人文社會科學館
        address.text-sm.not-italic(data-i18n="visit.address") 台北市南港區研究院路 2 段 128 號
    figure
      iframe(src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d903.6950483031169!2d121.61082736956875!3d25.041532513656044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDAyJzI5LjUiTiAxMjHCsDM2JzQxLjMiRQ!5e0!3m2!1szh-TW!2stw!4v1714790304669!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade" aria-label="Google Maps")
    .container.my-20
      .my-8
        h3.mb-4(data-i18n="visit.t1") 搭乘大眾運輸工具
        h5.my-4(data-i18n="visit.t2") 移動至南港
        ul
          li(data-i18n="[html]visit.p1") 搭乘#[a(href="https://www.railway.gov.tw/tra-tip-web/tip/tip00H/tipH41/viewStaInfo/0980") 台鐵]、#[a(href="https://www.thsrc.com.tw/ArticleContent/2f940836-cedc-41ef-8e28-c2336ac8fe68", target="_blank") 高鐵]至#[strong 南港站]。
          li(data-i18n="[html]visit.p2") 搭乘#[a(href="https://www.metro.taipei/", target="_blank") 台北捷運]至#[strong 南港站]（板南線）、#[strong 南港展覽館站]（板南線、文湖線）。
        h5.my-4(data-i18n="visit.t3") 移動至中研院
        ul
          li(data-i18n="[html]visit.sp1") #[strong 年會接駁車]每日早上 7:50 至 9:30 來回行駛#[a(href="https://maps.app.goo.gl/npaRb5tB9zpv8mYU8", rel="external") 台鐵南港站] ↔ #[a(href="https://maps.app.goo.gl/SjMNHSzr76wUS1Mx7", rel="external") 中央研究院人文社會科學館北側]，請留意現場舉指示牌的工作人員；來回班距約 20 分鐘，還請提早前往等待。
          li(data-i18n="[html]visit.p3") 於捷運南港站（2 號出口）換乘公車 #[a(href="https://ebus.gov.taipei/Route/StopsOfRoute?routeid=0100021230", target="_blank") 212直]、#[a(href="https://ebus.gov.taipei/Route/StopsOfRoute?routeid=0100027000", target="_blank") 270] 或#[a(href="https://ebus.gov.taipei/Route/StopsOfRoute?routeid=0112002500", target="_blank") 藍25] 至#[strong 中研院站]。
          li(data-i18n="[html]visit.p4") 於南港展覽館站（5 號出口）換乘公車 212、276、306、620、645、679、205、小5、小1 或 小12 至#[strong 中研院站]。
          li(data-i18n="[html]visit.p5") 步行或騎乘 #[a(href="https://www.youbike.com.tw/region/taipei/stations/", target="_blank") YouBike] 至#[strong 中央研究院人文社會科學館]。
      .my-8
        h3.mb-4(data-i18n="visit.t4") 自行開車或騎摩托車
        ul
          li(data-i18n="visit.p6") 國道3號南深路出口匝道→舊莊街一段→研究院路二段→中研院大門。
          li(data-i18n="[html]visit.p7") 車輛進入中研院區，請持證件向大門警衛室換取臨時通行證並依#[a(href="https://dga.sinica.edu.tw/pages/1442", target="_blank") 規定]停放。
          li(data-i18n="visit.p8") 機車無法駛入中研院，請停放在中研院大門右側、四分溪旁側門、或是胡適公園旁的機車停車場。
    hr
    figure.px-4.my-20.mx-auto(class="max-w-screen-lg")
      .text-center.my-12(data-i18n="visit.3f") 中研院人文社會科學館 3 樓平面圖
      .px-8.mb-16(data-i18n="[html]visit.3f.figure") #[img.w-full.mt-20(src="assets/img/HSSB_3F-zh.svg")]
      .text-center.my-20(data-i18n="visit.4f") 中研院人文社會科學館 4 樓平面圖
      .px-8(data-i18n="[html]visit.4f.figure") #[img.w-full(src="assets/img/HSSB_4F-zh.svg")]
block script
  script.
